.home-root {
  display: grid;
  grid-template-columns: 20% 30px 1fr 50px 20%;
  grid-auto-rows: 100px 50px 1fr 50px 100px;
}

a {
  color: #5f5f5f;
}

.home-background {
  background-color: #8bc6ec;
  background-image: -webkit-linear-gradient(54deg, #8bc6ec 0%, #cdceff 100%);
  background-image: -moz-linear-gradient(54deg, #8bc6ec 0%, #cdceff 100%);
  background-image: -o-linear-gradient(54deg, #8bc6ec 0%, #cdceff 100%);
  background-image: linear-gradient(54deg, #8bc6ec 0%, #cdceff 100%);
  grid-column: 1/6;
  order: 0;
  grid-row: 1/6;
  background-attachment: fixed;
}

.home-backpanel {
  border-radius: 30px;
  min-height: 85vh;
  background-color: #888888;
  grid-column: 2 / 4;
  grid-row: 2/4;
  order: 1;
}

.home-backpanel-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.home-backpanel-link {
  padding-top: 15px;
  padding-left: 40px;
  font-size: 1.2em;
  flex: 1;
  font-weight: bold;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.home-link-active {
  color: #ffffff;
}

.home-frontpanel {
  border-radius: 30px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  min-height: inherit;
  background-color: #dddef4;
  background-image: -webkit-linear-gradient(90deg, #dddef4 0%, #cdceff 100%);
  background-image: -moz-linear-gradient(90deg, #dddef4 0%, #cdceff 100%);
  background-image: -o-linear-gradient(90deg, #dddef4 0%, #cdceff 100%);
  background-image: linear-gradient(90deg, #dddef4 0%, #cdceff 100%);
  grid-column: 3 / 5;
  grid-row: 3/5;
  order: 2;
}

@media only screen and (max-width: 500px) {
  .home-root {
    grid-template-columns: 5% 5% 1fr 5% 5%;
  }
}
